<table class="table table-striped m-b-none file-wrapper" ng-controller="FilesController">
  <tbody>
    <tr class="cursor-pointer" ng-repeat="file in files | filter: search">
      <td ng-right-click="onRightClick(file.id,user.id,0)" class="context-menu-file" class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <img ng-src="{{fileType(file.type)}}" width="40px">
        <a ui-sref="preview({ preview: file.dropbox_name,extension:file.type,of:'of',user:user.name })">{{file.name}}</a>
      </td>
      <!--<td></td>-->
      <td class="text-right col-md-1 col-lg-1 col-sm-1 col-xs-1">
        <span class="pull-right">
          <!--{{file.file_size}}--> 
        </span>
      </td>
      <td class="text-right col-md-1 col-lg-1 col-sm-1 col-xs-1">
        <span class="shared_with_img pull-right">
          <!--{{file.mime}}--> 
        </span>
      </td>
      <td class="text-right col-md-2 col-lg-2 col-sm-2 col-xs-2">
        <!--<span class="shared_with_img pull-right">
          {{file.created_at}}
        </span>-->
      </td>
      <td class="text-right col-md-3 col-lg-3 col-sm-3 col-xs-3">
        <span class="shared_with_img">
          <!--<img src="/img/me.png" class="img-circle">-->
        </span>
      </td>
      <td class="text-right col-md-1 col-lg-1 col-sm-1 col-xs-1" ng-controller="dialogController" style="width:120px;">
        <input type="text" id="selectorid" style="display:none" class="selectorid" value="{{file.id}}">
        <div class="navbar-right">
          <ul class="nav navbar-nav m-n hidden-xs nav-user user">
            
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
<script>
  var addclass = 'btn-primary';
  var $cols = $('.paste_higlight_hint').click(function(e) {
      
      $cols.removeClass(addclass);
      $(this).addClass(addclass);
  });
 
</script>