<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<i class="fa fa-home fa-2x" style="color:#fff"></i>
</div>
<div ng-controller="CheckingemptyController">
	<div style="margin-top:50px;margin-left:30%" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="checkalls == 'empty'">
		<p ng-controller="dialogController">
			<img src="img/sbox-folder.png" style="text-align:center;margin-left:5%" id="upload" href="javascript:void(0)" ng-click="upload()"><br
			/>
			<h1>Empty Folder, <a id="upload" href="javascript:void(0)" ng-click="upload()"><i class="fa fa-plus"></i> Add files</a></h1>
		</p>
	</div>
	<div style="margin-top:50px;margin-left:30%" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="checkalls == 0">
		<p ng-controller="dialogController" style="text-align:center">
			<img src="img/upload.jpg" style="text-align:center;margin-left:5%" id="upload" href="javascript:void(0)" ng-click="upload()"><br
			/>
			<h1>Empty Directory, <a id="upload" href="javascript:void(0)" ng-click="upload()"><i class="fa fa-cloud-upload"></i> Upload files</a></h1>
		</p>
	</div>
	<div ng-if="checkalls > 0">
		<folders></folders>
		<files></files>
	</div>
</div>