<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <div class="settings">Settings</div>
  <div class="close">Close</div>
  <img class="img" src="../dist/img/app-icon.ico" />
  
  <div class="text-center">
    
    <h1><br><br><br><br> </h1>
  </div>
  <div style="max-height:140px;" ng-controller="loginController">
    <form>
      
      <div class="form-main">
        <div id="messages"></div>
        <div class="form-container">
          <!--<h1 style="font-size:20px;">Paste your Security Key here</h1>-->
          <!--<input class="form-control" type="text" ng-model="data.username" placeholder="Username" autofocus /><br><br>
          <input class="form-control" type="password" placeholder="password" ng-model="data.password" /><br><br>
          <input class="form-control hidden" type="text" placeholder="password" ng-model="data.desktopApp" ng-init="data.desktopApp=true" />-->
          <textarea ng-model="token" class="form-control" style="width: 80%;height:200px;"></textarea>
          <button type="submit" class="stupbx-btn btn-info form-control" ng-click="doLogin(data)">Authenticate</button>
        </div>
      </div>
    </form>
  </div>
  <section class="helper-menus">
    <div class="pull-left">
      <a href="#/signup">Sign up</a>
    </div>
    <div class="pull-right problems">
      <a class="">Problems signing in?</a>
    </div>
  </section>
</body>

</html>